* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 2.3em;

}
a {
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
article {
    margin: 20px;
    width: 600px;
    height: 500px;
    box-shadow: 5px 5px 5px rgb(240, 240, 240);
    border-radius: 5px;

    /* border: 5px solid rgb(240, 240, 240);
    border-top: none;
    border-radius: 5px; */
}
img {
    height: 350px;
    width: 100%;
}
figcaption {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 3em;
}
.textHaut {
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    margin: 0px;
}
li {
    
}