* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 2.3em;
    
}
a {
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
article {
    margin: 20px;
    width: 450px;
    height: 400px;
    box-shadow: 5px 5px 5px rgb(240, 240, 240);
    border-radius: 5px;
}
img {
    height: 250px;
    width: 100%;
}
figcaption {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 3em;
}
.textHaut {
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    margin: 0px;
}
/* pour un ecran jusqu'à 1920px, pc */
@media screen and (max-width: 1920px) {
    section {
        background-color: grey;
    }
    article {
        width: 25%;
    }
}
/* pour un ecran jusqu'à 992px tablette*/
@media screen and (max-width: 992px) {
    section {
        background-color: black;
    }
    article {
        width: 40%;
        color: white;
    }
}
/* pour un ecran jusqu'à 600px, mobile*/
@media screen and (max-width: 600px) {
    section {
        background-color: white;
    }
    article {
        width: 100%;
        color: black;
    }
}